@use "../variables" as *;


.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    &--primary {
        color: $textcolor;
        background-color: $background1;
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}

