.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    &--primary {
        color: #fff;
        background-color: rgb(201, 66, 66);
    }

    @media (max-width: 640px) {
        display: block;
        width: 100%;
    }
}

