// Cor dos textos
$textcolor: #fff;
$seconderyTextColor: #000;

// Cor dos gradientes
$red1: #8d0303;
$red2: #927474;
$red3: #a32222;

// cor de fundo
$background1: rgb(201, 66, 66);
$background2: #8b7878;